body {
    margin:0;
    font-family:'Roboto', sans-serif;
    overflow-x:hidden;
}
.section {
    height:100vh;
    
}

nav {
    height:11.5vh;
    background:white;
    position:fixed;
    margin:0;
    padding:0;
    z-index: 2;
    
    
}

nav ul {
    margin-left:31.5%;
}

#purchase {
    background: rgba(255, 0, 0, 0.671);
    color:White;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius:5px;
    font-size:35px;
    margin-left:20%;
    position:relative;
    top:-1.1em;

    
}

#purchase a {
    text-decoration:none;
    color:White;
}

#purchase:hover {
    background: rgba(255, 0, 0, 0.89);
    cursor:pointer;
    
}

nav ul li{
    display:inline;
    font-size:25px;
    margin-left: 25px;
    position:Relative;
    bottom:1.8em;
    
}

nav ul li::after {
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    background:red;
    bottom:-2px;
    right:0px;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}

nav ul li:hover::after {
    transform: scale(1, 1);
    cursor:pointer;
}

nav ul li a {
    text-decoration:none;
    color:black;
}

#logo {
   width:10%;
   height:10%;
   position:relative;
   bottom:10px;
   left:12px;
}

/*Banner image */

#section1 {
    border-top:none;
    top:10vh;
    height:90vh;
    background-image:url("IMG/images/Banner.jpg") ;
    position:absolute;

}

/*Banner text*/
#section1 div {
    width:50%;
    position:relative;
    margin:0;
    bottom:4.2em;
    height:100%;
    background: rgb(0, 0, 0);
    color:white;
    
}

#section1 div h1 {
    font-size:100px;
    font-weight:lighter;
    padding-top:5%;
    padding-left:5%;
}

#section1 div h2 {
    font-weight:lighter;
    padding-top:2.5%;
    padding-left:5%;
    padding-right:5%;
}

.scroll {
    border:solid white 2px;
    position:absolute;
    top:75%;
    left:22.5%;
    width:60px;
    height:120px;
    border-radius:50px;
}

.scroll::before,
.scroll::after{
    content:'';
    position:absolute;
    top:5%;
    left:22%;
    border:2px solid white;
    height:30px;
    width:30px;
    border-radius:50px;
    animation: scroll 1s ease-in-out infinite;
}

.scroll:after {
    top:5%;
}

@keyframes scroll{
    0% {
        opacity:0;
    }
    30% {
        opacity:0.5;
    }
    60% {
        opacity:1;
    }
    100% {
        opacity:0;
        top:70%;
    }
}

img {
    width:35%;
    z-index:1;
    position:Relative;

}

.sectionbox {
    position:relative;
    bottom:95%;
    left:53%;
    width:45%;
    height:55%;
    border-radius:15px;
    background:rgb(226, 226, 226);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:0;
 
}

.sectiontext {
    width:60%;
    padding:5%;
    float:right;
    text-align:right;
    font-family:'roboto', sans-serif;
    z-index:0;
}

.sectiontext p {
    width:70%;
    float:right;
    font-size:25px;
}

.sectiontext h2 {
    font-size:50px;
}

#redBox {
   position:relative;
   left:2.5%;
   top:7%;
   background:rgb(172, 39, 39);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width:47%;
   opacity:0;
}

#redBox div {
    color:white;
    position:relative;
    bottom:95%;
    float:left;
    text-align:left;
    width:40%;
}

#redBox div ul {
    font-size:25px;
   
}

.altIMG {
    position:Relative;
    bottom:0;
    top:-15em;
    float:right;
}

#section2 {
    position:relative;
    top:10em;
}

/*Section 1*/

#section2 {
    background:rgb(156, 32, 32);
    position:relative;
    top:-1px;
    
}

#section1box {
    opacity:0;
    position:relative;
    bottom:75%;
}

#soundIcon {
    opacity:0;
    position:relative;
    top:20%;
}

/*Section 2*/

#audioIcon {
    opacity:0;
    position:relative;
    top:-25%;
}

#section3 .sectionbox {
    position:relative;
    top:21%;
}

/*Section 3*/

#section4 {
    background:rgb(156, 32, 32);
}

#micIcon {
    position:relative;
    right:25%;
    top:20%;
    opacity:0;
}

#section4 .sectionbox {
    opacity:0;
    position:RElative;
    bottom:75%;
    
}


/*Section 4*/

#section5 {
    
}

#volumeIcon {
    opacity:0;
    position:relative;
    bottom:25%;
}

#section5 .sectionbox {
    position:relative;
    top:22%;
    
}

/*Section 5*/

#section6 {
    background:ghostwhite;
    height:100vh;
}

.purchaseDetails {
        position:relative;
        float:right;
        right:17%;
        bottom:65%;
        background:rgb(241, 224, 224);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
         0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:40%;
        opacity:1;
        color:rgb(156, 32, 32);
        text-align:right;
        padding-right:5%;
        padding-bottom:5%;
        height:50%;
        opacity:0;
   
}

.purchaseDetails h1 {
    font-size: 50px;
    margin-right:10%;
}

#reviewPrice {
    display:grid;
    grid-template-columns: 20% 20%;
    position:relative;
    left:25%;
    bottom:50px;
    
}

#reviewPrice img {
    width:250px;
    position:relative;
    left:120px;
    bottom:20px;
}

#reviewPrice h3 {
    position:relative;
    left:6em;
    font-size:40px;
}

.dropdown {
    position:relative;
    bottom:6em;
    left:80%;
    text-align:center;
    background:white;
    
    padding:15px;
    font-size:25px;
    width:100px;
    
}

.dropdown:hover .dropdown-content {
    display:grid;
    cursor:pointer;
    color: rgb(156, 32, 32);
   
}

.dropdown-content {
    position:absolute;
    right:0;
    top:60px;
    background:white;
    
    margin:0;
    padding:15px;
    font-size:25px;
    width:100px;
    display:none;
    z-index:1;
    
   
}

.dropdown-content h4:hover {
    color:black;
    cursor:pointer;
}

.dropdown:hover {
    background-color: rgb(156, 32, 32);
    color:white;
    cursor:pointer;
}

.purchaseDetails a {
    background: rgb(240, 54, 54);
    text-decoration: none;
    color:white;
    padding:20px 60px;
    font-size:30px;
    
}

#orderNow {
    position:relative;
    bottom:6em;
    right:1em;
    z-index:0;
}

#headphones {
    position:relative;
    width:40%;
    opacity:0;
    right:-10%;
    top:12%;
    
}